/* laptop xl or desktop */
@media screen and (max-width: 1440px) {

}

/* laptop lg */
@media screen and (max-width: 1200px) {

}

/* laptop lg */
@media screen and (max-width: 992px) {
	main#main-about {
		@include wh(normal, 100%, 500px);
		background: #D9FAFF;
		border-radius: $bdrs;
		div.row {
			@include wh(normal, 100%, 500px);
			figure#main-fig-1 {
			}
			div#main-content {
				overflow: hidden;
				@include flex;
				h1 {
					margin-bottom: 3rem;
					font-size: 2rem;
				}
				p {
					font-size: 0.8rem;
					line-height: 1.7;
				}
			}
		}
	}
}

/* mobile */
@media screen and (max-width: 768px) {
	main.container {
		max-width: 100vw;
	}
	main#main-about.container {
		@include wh(normal, 100vw, 100%);
		margin: 0;
		padding: 0;
		background: #D9FAFF;
		border-radius: 0;
		div.row {
			@include wh(normal, 100vw, 100%);
			figure#main-fig-1 {
				@include wh(normal, 100vw, 300px);
			}
			div#main-content {
				overflow: hidden;
				@include flex;
				h1 {
					margin: 1rem 0;
					font-size: 2rem;
				}
				p {
					font-size: 1rem;
					line-height: 1.7;
				}
			}
		}
	}
}

/* mobile */
@media screen and (max-width: 576px) {
	main.container {
		max-width: 100vw;
	}
	main#main-about.container {
		@include wh(normal, 100vw, 100%);
		margin: 0;
		padding: 0;
		background: #D9FAFF;
		border-radius: 0;
		div.row {
			@include wh(normal, 100vw, 100%);
			figure#main-fig-1 {
				@include wh(normal, 100vw, 200px);
			}
			div#main-content {
				overflow: hidden;
				@include flex;
				h1 {
					margin: 1rem 0;
					font-size: 2rem;
				}
				p {
					font-size: 1rem;
					line-height: 1.7;
				}
			}
		}
	}
}
